# [Xata] Configuration used by the CLI and the SDK
# Make sure your framework/tooling loads this file on startup to have it available for the SDK
XATA_BRANCH=main
XATA_API_KEY=xau_...

# OpenAI Key
OPENAI_API_KEY="sk-..."
